[submodule "hook-template"]
	path = hook-template
	url = https://github.com/koshikraj/safe-whitelist-hook
[submodule "plugin-template"]
	path = plugin-template
	url = https://github.com/zenguardxyz/safe2link-plugin
